<mat-card class="no-shadow">
    <mat-card-content>
        <mat-toolbar>
            <h3>Création offre spéciales</h3>
            <span class="example-spacer"></span>
            <button mat-raised-button class="me-8 mb-8 ml-auto" color="primary"
                (click)="openNewSpecialOffer()">Nouveau</button>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

<div class="card" *ngIf="isNewSpecialOfferVisible">
    <div class="card-body">
        <h4 class="mb-32">Nouvelle offre spéciale</h4>
        <form (ngSubmit)="onSubmitNewSpecialOffer()">

            <mat-form-field class="me-24 fs-16" appearance="outline" >
                <mat-label>Service</mat-label>
                <mat-select [(ngModel)]="newSpecialOffer.serviceId" name="service">
                    <mat-option *ngFor="let service of services" [value]="service._id">
                        {{ service.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Réduction</mat-label>
                <input matInput type="number" [(ngModel)]="newSpecialOffer.discount" name="discount">
            </mat-form-field>

            <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Date de début</mat-label>
                <input matInput type="date" [(ngModel)]="newSpecialOffer.date_from" name="date_from" />
            </mat-form-field>

            <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Date de fin</mat-label>
                <input matInput type="date" [(ngModel)]="newSpecialOffer.date_to" name="date_to" />
            </mat-form-field>

            <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="newSpecialOffer.description" name="description">
            </mat-form-field>

            <button mat-raised-button class="me-8 mb-8" type="button" (click)="closeNewSpecialOffer()">Fermer</button>
            <button mat-raised-button class="me-8 mb-8 ml-auto" type="submit" color="primary">Valider</button>
        </form>
    </div>
</div>


<mat-card class="w-100">
    <mat-card-content>
        <h4 class="mb-32">Les offres spéciales</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Service</th>
                    <th>Réduction (%)</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of specialOffers;let i = index ">
                    <td>{{ i + 1 }}</td>
                    <td>{{ res.serviceId.name }}</td>
                    <td>{{ res.discount }}</td>
                    <td>{{ res.date_from | date: 'yyyy-MM-dd'}}</td>
                    <td>{{ res.date_to | date: 'yyyy-MM-dd'}}</td>
                    <td>{{ res.description }}</td>
                    <td>
                        <button mat-icon-button color="basic" (click)="onEdit(res)">
                            <mat-icon>information</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(res._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>