<div class="chart-container">
    <div class="chart">
      <mat-card>
        <mat-card-content>
          <h4 class="mb-32">Temps moyen de travail par employé par jour</h4>
          <div class="max-width">
            <canvas id="chartTempsMoyenTravailParEmployeParJour" width="400" height="200"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="chart">
      <mat-card>
        <mat-card-content>
          <h4 class="mb-32">Temps moyen de travail par employé par mois</h4>
          <div class="max-width">
            <canvas id="chartTempsMoyenTravailParEmployeParMois" width="400" height="200"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
