<div *ngIf="message != '' " class="alert alert-danger alert-text-danger d-flex fs-14 align-items-center rounded mb-16" role="alert">
    <i-feather name="alert-circle" class="text-danger feather-base me-12"></i-feather>
    {{message}}
  </div>
  
  <div *ngIf="validationErrors.length > 0" class="alert alert-danger alert-text-danger d-flex fs-14 align-items-center rounded mb-16" role="alert">
    <i-feather name="alert-circle" class="text-danger feather-base me-12"></i-feather>
    {{validationErrors}}
  </div>
  
  <div class="card">
      <div class="card-body">
        <h4 class="mb-32">Connexion</h4>
        <p>Voici le login pour l'employer:</p>
        <p style="color: rgb(37, 128, 226);">mamy@gmail.com / 1234</p>
        <form>
          <mat-form-field class="me-24 fs-16" >
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Entez votre email" name="email" [(ngModel)]="email" value="admin@gmail.com">
          </mat-form-field>
    
          <mat-form-field class="me-24 fs-16" >
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" placeholder="Entrez votre mot de passe" name="password" [(ngModel)]="password" value="1234">
          </mat-form-field>
          
          <button 
            mat-raised-button class="me-8 mb-8" color="primary" 
            type="submit" [disabled]="isSubmitting || (password.length <= 0 || email.length <= 0)" (click)="loginAction()">Se connecter
          </button>
        </form>
  
      </div>
    </div>